.side-drawer {
    display: flex;
    height: 100%;
    background: #38373c;
    opacity: .98;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    /* left: 50%;*/
    width: 30%;
    min-width: 220px; 
    height: 100%;
    max-width: 400px; 
    z-index: 200;
    transform: translateX(70vw);
    transition: transform 0.3s ease-out;

}
.draw-link-wrapper {
    padding-top: 200px;
    width: 100%;
}

.side-drawer.open {
    transform: translateX(0);
    right: 0;
    min-width: 220px; 
    width: 30%;
}

.side-drawer div {
    background: #38373c;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: top;
    margin: auto;
    
}

.side-drawer li {
    
    margin: 0;
}

.side-drawer a {

    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.side-drawer a:hover,
.side-drawer a:active {
   /* color: #fa923f;  */
   color: #36648b;
}

#styled_img{
    
    width: 70%;
    margin: 4rem auto 1rem  auto;
}

