.wrapper {
    margin-top: 70px;
}
.content {
    display: flex;
}
.sort-bar {
    width: 100%;
    background-color: #f0f0f0;
}

.filter-bar {
  
    width: 25%;
    padding: 1rem;
}
.catalog-menu {
    border-top: 1px solid #d2d2d2;

}
.filter-bar p {
    border-bottom: 1px solid #d2d2d2;
}