.top-margin {
    margin-top: 110px;
}
.content {
    display: flex;
}
.sort-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 1300px;
    /* background-color: #f0f0f0; */
    background-color: white;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    padding: 4px 3rem;
}
.sort-bar a {
 font-size: 12px;
 color: #676565;
}
.sort-button {
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    background-color: white;
    text-decoration: none;
    padding: 4px;
    font-size: 14px;
}

.filter-bar {
    margin-left: auto;
    max-width: 280px;
    min-width: 200px;
    width: 25%;
    padding: 1rem;
}
.catalog-menu {
    border-top: 1px solid #d2d2d2;
    
    margin: 0 0 0 auto;
}
.catalog-menu p {
    padding: 0.5rem;
}
.filter-bar p {
    border-bottom: 1px solid #d2d2d2;
    margin: 0;
}

@media (max-width: 480px){
    .sort-bar {
        padding: 4px 1rem;
    }
    
}
@media (max-width: 720px){
    .content {
        flex-direction: column;
    }
    .catalog-menu {
        flex-direction: row;
        overflow:auto;
        border: none;
        width: 100%;
    }
    .filter-bar {
        width: 100%;
        margin: 0;
        max-width: none;
    }
    .filter-bar h2{
        display: none;
    }
    .filter-bar p{
        display: none;
    }
    
}