.top-margin {
    margin-top: 110px;
}
.content {
    display: flex;
}
.sort-bar {
    width: 100%;
    background-color: #f0f0f0;
    padding: 0 2rem;
}
.sort-button {

}

.filter-bar {
    margin-left: auto;
    max-width: 280px;
    min-width: 200px;
    width: 25%;
    padding: 1rem;
}
.catalog-menu {
    border-top: 1px solid #d2d2d2;
    
    margin: 0 0 0 auto;
}
.catalog-menu p {
    padding: 0.5rem;
}
.filter-bar p {
    border-bottom: 1px solid #d2d2d2;
    margin: 0;
}