.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:rgba(255,255,255, 0.95);
    height: 70px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
    z-index: 300;
    font-family: "open sans"
  
}
.middleNav {
    display: flex;
    height: 100%;
    align-items: center;
    padding: .5rem 1rem;
    margin: auto;
    font-size: 14px;
}
.middleNav a {
    padding: 1rem 1rem;
}
.rightNav {
    display: flex;
    height: 100%;
    align-items: right;
    padding: 1rem 2rem;
}
.rightNav a {
    padding: 0 1rem;
    text-decoration: none;
    color: black;
}
.rightNav a:hover {
    color: #36648b
}


.toolbar_navigation {
    display: flex;
    height: 100%;
    max-width: 100%;
    justify-content: space-between;
    margin: auto;
    /* max-width: 1038px; */
}
.cart-div {
    display: inline-flex;
}
.cart-div:hover {
    cursor:pointer;
}
.cart-text {
    
}
.cart-icon {
height: 22px;
position: relative;
/* Adjust these values accordingly */
top: 0px;
left: 0px;
}

.toolbar_logo {
transition: 0.3s;
z-index: 300;
   height: 100%;
   font-family: 'Quattrocento', serif;
   margin-left: 10px;
   
}

.toolbar_logo a {
   text-decoration: none;
   font-size: 1.8rem; 
   color: #000;
   transition: 0.3s;
   padding: 1rem 1rem;
   font-size: 3rem;
  
}
.toolbar_logo a:hover {
    text-decoration: none;
    /* color: #fa923f;  */
    color: #36648b;
 }

.toolbar__toggle-button {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
    margin: 0;
}



.toolbar_navigation_items a:hover,
.toolbar_navigation_items a:active {
    /* color: #fa923f;  */
    color: #36648b;
}


@media (max-width: 760px) {
    .middleNav{
        display:none;
    }
    .login-button{
        display: none;
    }
    .cart-text {
        display: none;
    }
    .cart-icon {
        height: 22px;
        position: relative;
        /* Adjust these values accordingly */
        top: 3px;
        left: 5px;
        }

    
    .toolbar_navigation {
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: flex-end;
        margin: auto;
        /* max-width: 1038px; */
    }
    .toolbar_logo{
        margin-right: auto;
        margin-left: 0;
    }
}

@media (min-width: 760px) {
    .toolbar__toggle-button{
        display:none;
    }
    
}



